@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
@font-face {
  font-family: "burtons";
  src: url("../public/Burtons.otf");
}

@layer components {
  .text_h1 {
    @apply text-7xl py-2 bg-clip-text text-transparent bg-gradient-to-r from-blue-700  to-teal-500 font-medium md:text-6xl
    dark:bg-clip-text dark:text-transparent dark:bg-gradient-to-r dark:from-purple-800 dark:to-sky-500;
  }

  .icon_blue {
    @apply text-blue-700 hover:text-blue-500 rounded-2xl shadow-xl shadow-black;
  }

  .icon_blue-3xl {
    @apply text-blue-700 hover:text-blue-500  rounded-3xl  shadow-xl shadow-black dark:shadow-black;
  }
  .icon_git {
    @apply text-black hover:text-purple-500 rounded-3xl shadow-xl shadow-black dark:text-white dark:hover:text-purple-500;
  }

  .projects {
    @apply transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:duration-300;
  }

  .btn {
    @apply bg-gradient-to-r from-blue-500  to-teal-500 transform transition duration-200 text-white py-2 px-4 rounded-md border-none ml-8 shadow-xl shadow-black;
  }

  .btn_hover {
    @apply hover:bg-gradient-to-r hover:from-red-600  hover:to-pink-600;
  }

  .user-select {
    user-select: none;
  }
}

@keyframes rainbow {
  0% {
    color: red;
  }
  20% {
    color: rgb(111, 0, 238);
  }
  40% {
    color: rgb(0, 153, 158);
  }
  60% {
    color: rgb(177, 0, 138);
  }
  80% {
    color: blue;
  }
  100% {
    color: rgb(255, 0, 0);
  }
}

.animate-rainbow {
  animation: rainbow 3s ease-in-out infinite;
}
